#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=Eclipse IDE for Java Developers - 2022-03
Exec=/home/jose/eclipse/java-2022-03/eclipse/eclipse
Categories=Development;IDE;
Icon=/home/jose/eclipse/java-2022-03/eclipse/icon.xpm
